In [1]:
import numpy as np
import pandas as pd
import os
import spacy
import csv

In [2]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'emean_emo_cat.csv',
 'nawl-analysis.csv',
 'przesłanki-autorytet.csv',
 'przesłanki.csv',
 'README.md',
 'sentiment-analysis.ipynb']

# Przesłanki

In [3]:
plik = 'przesłanki.csv'
data = pd.read_csv(plik, encoding='windows-1250', header=[0])
data.head()

,Typ argumentu (szeregowy lub równoległy),Konkluzja,Przesłanka 1,Przesłanka 2,Przesłanka 3,Przesłanka 4,Przesłanka 5,Przesłanka 6,Przesłanka 7,Przesłanka 8
0,NaN,Rzuć palenie,Każdy rok palenia skraca życie o prawie trzy m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,szeregowy,Szczepmy się,Mamy teraz do czynienia z koronawirusem typu d...,[koronawirus typu delta] to wyjątkowo zakaźna ...,Teraz mamy w Polsce już sześć tysięcy zakażeń ...,W województwie lubelskim szpitale są już na gr...,NaN,NaN,NaN,NaN
2,szeregowy,"Unikaj dotykania oczu, nosa i ust","Dłonie dotykają wielu powierzchni, które mogą ...","Jeśli dotkniesz oczu, nosa lub ust zanieczyszc...",NaN,NaN,NaN,NaN,NaN,NaN
3,równoległy,Bądż aktywny fizycznie i zdrowo się odżywiaj,Regularna aktywność fizyczna jest kluczem do u...,"Nawet 3-godzinny spacer raz w tygodniu, zmniej...",Wysiłek fizyczny odgrywa istotną rolę w zapobi...,Brak aktywności fizycznej wiąże się z gorszą j...,Nieodpowiednia dieta oraz brak aktywności fizy...,NaN,NaN,NaN
4,równoległy,Noś maskę.,Osłanianie twarzy chroni Ciebie i innych.,Maska zatrzymuje rozprzestrzenianie się wirusa,Maska zmniejsza ryzyko infekcji o 75%,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(258, 10)

In [5]:
data = data.drop(labels=38, axis=0)

### Braki danych

In [6]:
braki_danych = pd.concat([data.isnull().sum()], axis = 1, keys = ["Brakujące dane:"])
print(braki_danych)

                                          Brakujące dane:
Typ argumentu (szeregowy lub równoległy)                3
Konkluzja                                               0
Przesłanka 1                                            1
Przesłanka 2                                           10
Przesłanka 3                                          102
Przesłanka 4                                          178
Przesłanka 5                                          224
Przesłanka 6                                          249
Przesłanka 7                                          253
Przesłanka 8                                          253

In [7]:
data["Przesłanka 3"][5]

'Dym tytoniowy ma negatywny wpływ na stan układu oddechowego'

In [8]:
data["Typ argumentu (szeregowy lub równoległy)"].value_counts()

równoległy    146
szeregowy     107
mieszany        1
Name: Typ argumentu (szeregowy lub równoległy), dtype: int64

### Spacy - pobranie pakietów

In [9]:
nlp = spacy.load("pl_core_news_lg")

In [10]:
print(spacy.__version__)

3.2.1

### Przykład

In [11]:
s = str(data["Konkluzja"][5])
doc = nlp(s)

In [12]:
for token in doc:
    print(f"{token},{token.lemma_}")

Zrezygnuj,zrezygnować
z,z
używek,używka
.,.

### Tokenizacja, lematyzacja

In [13]:
with open('przesłanki.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    next(csv_reader)
    new_list = []
    for row in csv_reader: 
        argument = []
        for column in range(1, 8):
            argument += [(x.lemma_) for x in nlp(row[column])]
        new_list.append(argument)

In [14]:
my_list = []
for i in new_list:
    argument = []
    for word in i:
        word_replaced = word.replace("żyto", "życie").replace('\xa0', '')
        argument.append(word_replaced)
    my_list.append(argument)

# Przesłanki - autorytet

In [15]:
plik = 'przesłanki-autorytet.csv'
data_autorytet = pd.read_csv(plik, encoding='windows-1250', header=[0])

In [16]:
braki_danych = pd.concat([data_autorytet.isnull().sum()], axis = 1, keys = ["Brakujące dane:"])
print(braki_danych)

                                          Brakujące dane:
Typ argumentu (szeregowy lub równoległy)                0
Konkluzja                                               0
Przesłanka 1                                            0
Przesłanka 2                                            0
Przesłanka 3                                            6
Przesłanka 4                                           10
Przesłanka 5                                           16
Przesłanka 6                                           18
Przesłanka 7                                           18
Przesłanka 8                                           18

In [17]:
with open('przesłanki-autorytet.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    next(csv_reader)
    list_auto = []
    for row in csv_reader: 
        argument = []
        for column in range(1, 8):
            argument += [(x.lemma_) for x in nlp(row[column])]
        list_auto.append(argument)

In [18]:
my_list_auto = []
for i in list_auto:
    argument = []
    for word in i:
        word_replaced = word.replace("żyto", "życie").replace('\xa0', '')
        argument.append(word_replaced)
    my_list_auto.append(argument)

# Emean_emo_cat

In [19]:
emo_data = pd.read_csv('emean_emo_cat.csv', encoding= 'windows-1250')
emo_data.head()

,Unnamed: 0,plWordNet ID,lemma,phrase,N,VAL M,ARO M,ANG M,DIS M,FEA M,...,ANG D,DIS D,FEA D,SAD D,ANT D,HAP D,SUR D,TRU D,NEU D,classification
0,0,100097,zajawka,zajawka filmu,52,"0,923076923076923","1,51923076923077","0,423076923076923","0,346153846153846","0,442307692307692",...,"5,18062088685894","5,23424953260128","5,16792928207377","5,19447972290816","3,87381376704755","4,35618354559508","4,71480632473062","4,91246631980535","3,35029246343814",ANT
1,1,10010,wonny,wonny olejek,52,"1,15384615384615","1,51923076923077","0,326923076923077","0,288461538461538","0,269230769230769",...,"5,16027836550318","5,18080508369055","5,1978231958997","5,18966036636857","4,32597340564473","3,9597100017469","4,63737256975455","4,56260902798746","3,10497520730022",HAP
2,2,10027,wprawny,wprawny ruch,56,"1,08928571428571","1,30357142857143","0,267857142857143","0,267857142857143","0,303571428571429",...,"4,97998250130335","4,97422378232077","4,94950472605383","4,99042414080326","4,14667180332257","4,18741346525989","4,58990338516643","4,20747262725181","2,73188113221548",TRU
3,3,100288,kopia,kopia zapasowa,48,"0,916666666666667","1,02083333333333","0,291666666666667","0,3125","0,416666666666667",...,"5,01651814639793","4,99984145680847","4,92998924720183","4,97342018159838","4,19659015903944","4,55603816763537","4,96609556515371","4,12506825767858","2,69677085956943",TRU
4,4,100381,wombat,wombat wombata,47,"0,340425531914894","0,787234042553192","0,425531914893617","0,468085106382979","0,531914893617021",...,"4,61035885742292","4,57995827809717","4,52522536716789","4,62461314530665","4,45369893924012","4,29751829402049","4,26713782450451","4,53147114301294","1,87573890903964",NEU

In [20]:
emo_data.drop('Unnamed: 0', axis=1, inplace=True)

In [21]:
import locale
from locale import atof

In [22]:
locale.setlocale(locale.LC_NUMERIC, '')
emo_data["VAL M"] = emo_data["VAL M"].map(atof)

In [23]:
locale.setlocale(locale.LC_NUMERIC, '')
emo_data["ARO M"] = emo_data["ARO M"].map(atof)

In [24]:
locale.setlocale(locale.LC_NUMERIC, '')
emo_data["TRU M"] = emo_data["TRU M"].map(atof)

In [25]:
locale.setlocale(locale.LC_NUMERIC, '')
emo_data["TRU D"] = emo_data["TRU D"].map(atof)

In [26]:
emean_emo_cat = emo_data.drop(['plWordNet ID', 'phrase', 'N', 'ANG M', 'DIS M', 'FEA M', 'SAD M', 'ANT M','HAP M','SUR M',
               'ANG SD', 'DIS SD', 'FEA SD', 'SAD SD', 'ANT SD','HAP SD','SUR SD', 'VAL SD', 'ARO SD', 'TRU SD',
               'ANG D', 'DIS D', 'FEA D', 'SAD D', 'ANT D','HAP D','SUR D', 'NEU D'], axis = 1)

## Trust - średnie wartości

In [27]:
emean_emo_cat["TRU M"].describe()

count    6000.000000
mean        0.648133
std         0.357791
min         0.039216
25%         0.407407
50%         0.551020
75%         0.781818
max         2.690909
Name: TRU M, dtype: float64

In [28]:
trust_data = emean_emo_cat.copy()

In [29]:
index_names = trust_data[trust_data['TRU M'] <= trust_data["TRU M"].mean()].index
trust_data.drop(index_names, inplace = True)

In [30]:
trust_data["classification"].value_counts()

TRU    625
HAP    567
ANT    488
NEU    213
SUR    133
FEA     48
SAD     42
DIS     32
ANG      9
Name: classification, dtype: int64

In [31]:
trust_data["VAL M"].describe()

count    2157.000000
mean        0.865079
std         0.478204
min        -1.000000
25%         0.560000
50%         0.830189
75%         1.176471
max         2.444444
Name: VAL M, dtype: float64

In [32]:
trust_data["ARO M"].describe()

count    2157.000000
mean        1.367427
std         0.374761
min         0.577778
25%         1.085106
50%         1.313725
75%         1.596154
max         2.660377
Name: ARO M, dtype: float64

In [33]:
trust_data

          lemma     VAL M     ARO M     TRU M     TRU D classification
0       zajawka  0.923077  1.519231  0.788462  4.912466            ANT
1         wonny  1.153846  1.519231  1.076923  4.562609            HAP
2       wprawny  1.089286  1.303571  1.160714  4.207473            TRU
3         kopia  0.916667  1.020833  1.270833  4.125068            TRU
5     pułkownik  0.630435  1.130435  1.065217  3.915806            TRU
...         ...       ...       ...       ...       ...            ...
5992     wizyta  0.555556  2.222222  0.933333  5.485870            SUR
5993   historyk  0.541667  1.125000  1.062500  4.181876            TRU
5994   historyk  0.860000  1.160000  1.120000  4.201094            TRU
5997  politolog -0.142857  0.836735  0.693878  4.459103            DIS
5998       wójt  0.521739  1.369565  0.869565  4.720533            ANT

[2157 rows x 6 columns]

## Trust - według klasyfikacja

In [34]:
trust_data_category = emean_emo_cat.copy()

In [35]:
index_names = trust_data_category[trust_data_category["classification"] != "TRU"].index
trust_data_category.drop(index_names, inplace = True)

In [36]:
trust_data_category["classification"].value_counts()

TRU    625
Name: classification, dtype: int64

In [37]:
trust_data_category["VAL M"].describe()

count    625.000000
mean       0.856628
std        0.325395
min       -0.140000
25%        0.627451
50%        0.826923
75%        1.078431
max        1.884615
Name: VAL M, dtype: float64

In [38]:
trust_data_category["ARO M"].describe()

count    625.000000
mean       1.270278
std        0.282682
min        0.711538
25%        1.061224
50%        1.229167
75%        1.469388
max        2.384615
Name: ARO M, dtype: float64

In [39]:
trust_data_category

           lemma     VAL M     ARO M     TRU M     TRU D classification
2        wprawny  1.089286  1.303571  1.160714  4.207473            TRU
3          kopia  0.916667  1.020833  1.270833  4.125068            TRU
5      pułkownik  0.630435  1.130435  1.065217  3.915806            TRU
10     wskazówka  0.800000  1.000000  1.288889  4.145632            TRU
13     ogumienie  0.888889  0.962963  1.333333  4.038419            TRU
...          ...       ...       ...       ...       ...            ...
5945       część  0.836364  1.236364  1.090909  4.146671            TRU
5957  uprawniony  0.673469  1.102041  1.040816  3.993114            TRU
5981   wieczysty  0.976744  1.139535  1.093023  4.159403            TRU
5993    historyk  0.541667  1.125000  1.062500  4.181876            TRU
5994    historyk  0.860000  1.160000  1.120000  4.201094            TRU

[625 rows x 6 columns]

In [40]:
emean_emo_cat

          lemma     VAL M     ARO M     TRU M     TRU D classification
0       zajawka  0.923077  1.519231  0.788462  4.912466            ANT
1         wonny  1.153846  1.519231  1.076923  4.562609            HAP
2       wprawny  1.089286  1.303571  1.160714  4.207473            TRU
3         kopia  0.916667  1.020833  1.270833  4.125068            TRU
4        wombat  0.340426  0.787234  0.510638  4.531471            NEU
...         ...       ...       ...       ...       ...            ...
5995    biegacz  0.448980  1.244898  0.612245  4.534985            SUR
5996   zapierać  0.041667  1.020833  0.437500  4.664719            DIS
5997  politolog -0.142857  0.836735  0.693878  4.459103            DIS
5998       wójt  0.521739  1.369565  0.869565  4.720533            ANT
5999  profetyzm  0.716981  1.150943  0.566038  4.465742            SUR

[6000 rows x 6 columns]

# Matcher

In [63]:
def mean(my_list):
    if len(my_list) == 0:
        return np.nan
    return sum(my_list)/len(my_list)

def my_matcher(my_list, auto_list):
    df = []
    authority_list = []

    for i in my_list:
        trust_list = []
        trust_list_category = []
        emo_list = []
        val_mean_list = []
        aro_mean_list = []
        trust_mean_list = []
        authority_list = []
        
        if i in auto_list:
            string = "tak"
        else:
            string = "nie"
        authority_list.append(string)
        
        for word in i:
            
            trust_word_serie = trust_data.loc[trust_data["lemma"] == word]["lemma"]
            if not trust_word_serie.empty:
                trust_word = trust_word_serie.iat[0]
                trust_list.append(trust_word)
        
            trust_word_cat_serie = trust_data_category.loc[trust_data_category["lemma"] == word]["lemma"]
            if not trust_word_cat_serie.empty:
                trust_word_cat = trust_word_cat_serie.iat[0]
                trust_list_category.append(trust_word_cat)
                
            emo_word_serie = emean_emo_cat.loc[emean_emo_cat["lemma"] == word]["lemma"]
            if not emo_word_serie.empty:
                emo_word = emo_word_serie.iat[0]
                emo_list.append(emo_word) 
                
            val_mean_serie = emean_emo_cat.loc[emean_emo_cat["lemma"] == word]["VAL M"]
            if not val_mean_serie.empty:
                val_mean = val_mean_serie.iat[0]
                val_mean_list.append(val_mean)
                mean(val_mean_list)
            
            aro_mean_serie = emean_emo_cat.loc[emean_emo_cat["lemma"] == word]["ARO M"]
            if not aro_mean_serie.empty:
                aro_mean = aro_mean_serie.iat[0]
                aro_mean_list.append(aro_mean)
                mean(aro_mean_list)
            
            trust_mean_serie = emean_emo_cat.loc[emean_emo_cat["lemma"] == word]["TRU M"]
            if not trust_mean_serie.empty:
                trust_mean = trust_mean_serie.iat[0]
                trust_mean_list.append(trust_mean)
                mean(trust_mean_list)

        
        #dominanta kategorii?
        #print("Ilość słów emotywnych:",len(emo_list), "Zaufania:", len(trust_list), "Poza zaufaniem:", len(emo_list) - len(trust_list))

        df.append([i, authority_list[0], emo_list, trust_list, trust_list_category, mean(val_mean_list), mean(aro_mean_list), mean(trust_mean_list)])
    
    return pd.DataFrame(df, columns = ["argument", "autorytet", "emo lista", "zaufanie lista", "kategoria zaufanie", 
                                             "Val mean", "Aro mean", "Trust Mean"])


my_matcher(my_list, my_list_auto)

,argument,autorytet,emo lista,zaufanie lista,kategoria zaufanie,Val mean,Aro mean,Trust Mean
0,"[rzucić, palenie, każdy, rok, palenie, skracać...",nie,[rok],[rok],[],0.551020,0.897959,0.693878
1,"[szczepić, się, mieć, teraz, do, czynienie, z,...",nie,"[typ, początek, typ, odmiana, ciężki, tysiąc]","[początek, ciężki]",[],0.448286,1.208600,0.607328
2,"[unikać, dotykania, oko, ,, nos, i, usta, dłoń...",nie,"[unikać, oko, powierzchnia, wirus, oko, wirus,...","[oko, oko]",[],0.232777,1.600140,0.619520
3,"[bądż, aktywny, fizycznie, i, zdrowo, się, odż...",nie,"[zdrowo, istotny, zły, jakość, negatywnie, dieta]","[zdrowo, istotny, jakość]",[],0.228068,1.572626,0.818477
4,"[nosić, maska, ., osłanianie, twarz, chronić, ...",nie,"[maska, inny, wirus]",[],[],-0.405863,1.216262,0.372661
...,...,...,...,...,...,...,...,...
253,"[zaszczep, się, przeciw, covid, -, 19, szczepi...",nie,[ciężki],[ciężki],[],0.215686,1.313725,0.764706
254,"[wybrać, mądrze, ,, zaszczepić, się, ., , bada...",nie,"[wieko, rok, ciężki]","[wieko, rok, ciężki]",[],0.354860,1.056377,0.713145
255,"[zaszczep, się, ,, nosić, maseczka, i, uważać,...",nie,[bolesny],[],[],-1.075472,1.698113,0.320755
256,"[zachęcać, raz, jeszcze, bardzo, gorąco, wszys...",nie,"[jednostka, organizacja, znajomy]","[organizacja, znajomy]",[znajomy],0.804033,1.266953,1.305565
257,"[osoba, młody, powinny, się, szczepić, wiedzie...",nie,"[młody, wirus, młody, młody, wirus, wirus, zja...","[młody, młody, młody, ciężki, młody]",[],0.250905,1.712168,0.741857

In [64]:
matched_data = my_matcher(my_list, my_list_auto)

In [65]:
matched_data["autorytet"].value_counts()

nie    240
tak     18
Name: autorytet, dtype: int64

In [66]:
matched_data.dtypes

argument               object
autorytet              object
emo lista              object
zaufanie lista         object
kategoria zaufanie     object
Val mean              float64
Aro mean              float64
Trust Mean            float64
dtype: object

In [68]:
matched_data.describe()

         Val mean    Aro mean  Trust Mean
count  225.000000  225.000000  225.000000
mean     0.185758    1.343847    0.666119
std      0.606580    0.290118    0.259644
min     -1.462963    0.788462    0.181022
25%     -0.115385    1.186884    0.499883
50%      0.215686    1.303420    0.632922
75%      0.551020    1.476968    0.771523
max      1.830189    2.462963    1.607843

In [71]:
import researchpy as rp
import scipy.stats as stats

## Tabela krzyżowa

## Test T